# Coffee survey data - Datenverständnis & Aufbereitung mit pandas 

Data retrieved from: https://github.com/rfordatascience/tidytuesday/blob/main/data/2024/2024-05-14/coffee_survey.csv

Extended dataset available from:
https://www.kaggle.com/datasets/datalab351/great-american-coffee-taste-test/data

For overview of variables see: https://github.com/rfordatascience/tidytuesday/blob/main/data/2024/2024-05-14/readme.md

**Projektschritt 1:**
Überblick über die Variablen, fehlende Werte identifizieren und behandeln, kategorische Variablen vereinheitlichen / umkodieren, Daten bereinigen (z.B. Schreibvarianten, Ausreißer behandeln)

## Beschreibung des Datensatzes

Der bekante Youtube-Barista James Hoffmann und Cometeer haben 2023 einen Kaffee-Geschmackstest durchgeführt. Cometeer verschickte 5000 Kaffee-Kits in ganz Amerika. Die Kits enthielten vier verschiedene Kaffeesorten - vor-extrahiert und tiefgefroren. Die Tester schmolzen und verdünnten die Kaffeekapseln, um ein weitgehend identisches Geschmackserlebnis zu erhalten. Verkostung und Bewertung erfolgten blind. Nachdem die Antworten auf die Umfrage gesammelt worden waren (die Daten wurden bereitgestellt), wurden einige Eigenschaften des Kaffees aufgedeckt. 

**Kaffeesorten (aufgedeckt nach der Umfrage)**

A. Light roast, washed process

B. Medium roast

C. Dark roast

D. Light roast, natural process (fermented, funky/fruity)


**Die Kaffeesorten wurden für drei Hauptfragen ausgewählt:**
1. Röstgradpräferenz (light (A) vs. medium (B) vs. dark (C))

2. Vorliebe für Fruchtigkeit (washed (A) vs. natural/fermented (D))

3. Beliebtester Kaffee insgesamt



Beschreibung übersetzt und angepasst von: https://www.kaggle.com/datasets/datalab351/great-american-coffee-taste-test/data

## Daten laden

In [1]:
# Import modules

import pandas as pd
import numpy as np

In [2]:
# Read csv-file

df = pd.read_csv("data/coffee_survey.csv")

## Überblick verschaffen

In [3]:
# Dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4042 entries, 0 to 4041
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   submission_id                 4042 non-null   object
 1   age                           4011 non-null   object
 2   cups                          3949 non-null   object
 3   where_drink                   3972 non-null   object
 4   brew                          3657 non-null   object
 5   brew_other                    678 non-null    object
 6   purchase                      710 non-null    object
 7   purchase_other                31 non-null     object
 8   favorite                      3980 non-null   object
 9   favorite_specify              114 non-null    object
 10  additions                     3959 non-null   object
 11  additions_other               48 non-null     object
 12  dairy                         1686 non-null   object
 13  sweetener                     512 non-null    object
 14  style                         3958 non-null   object
 15  strength                      3916 non-null   object
 16  roast_level                   3940 non-null   object
 17  caffeine                      3917 non-null   object
 18  expertise                     3938 non-null   float64
 19  coffee_a_bitterness           3798 non-null   float64
 20  coffee_a_acidity              3779 non-null   float64
 21  coffee_a_personal_preference  3789 non-null   float64
 22  coffee_a_notes                2578 non-null   object
 23  coffee_b_bitterness           3780 non-null   float64
 24  coffee_b_acidity              3767 non-null   float64
 25  coffee_b_personal_preference  3773 non-null   float64
 26  coffee_b_notes                2454 non-null   object
 27  coffee_c_bitterness           3764 non-null   float64
 28  coffee_c_acidity              3751 non-null   float64
 29  coffee_c_personal_preference  3766 non-null   float64
 30  coffee_c_notes                2382 non-null   object
 31  coffee_d_bitterness           3767 non-null   float64
 32  coffee_d_acidity              3765 non-null   float64
 33  coffee_d_personal_preference  3764 non-null   float64
 34  coffee_d_notes                2588 non-null   object
 35  prefer_abc                    3772 non-null   object
 36  prefer_ad                     3761 non-null   object
 37  prefer_overall                3770 non-null   object
 38  wfh                           3524 non-null   object
 39  total_spend                   3511 non-null   object
 40  why_drink                     3568 non-null   object
 41  why_drink_other               167 non-null    object
 42  taste                         3563 non-null   object
 43  know_source                   3559 non-null   object
 44  most_paid                     3527 non-null   object
 45  most_willing                  3510 non-null   object
 46  value_cafe                    3500 non-null   object
 47  spent_equipment               3506 non-null   object
 48  value_equipment               3494 non-null   object
 49  gender                        3523 non-null   object
 50  gender_specify                12 non-null     object
 51  education_level               3438 non-null   object
 52  ethnicity_race                3418 non-null   object
 53  ethnicity_race_specify        105 non-null    object
 54  employment_status             3419 non-null   object
 55  number_children               856 non-null    object
 56  political_affiliation         3289 non-null   object
dtypes: float64(13), object(44)
memory usage: 1.8+ MB

In [4]:
df.head()

,submission_id,age,cups,where_drink,brew,brew_other,purchase,purchase_other,favorite,favorite_specify,...,spent_equipment,value_equipment,gender,gender_specify,education_level,ethnicity_race,ethnicity_race_specify,employment_status,number_children,political_affiliation
0,gMR29l,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,Regular drip coffee,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BkPN0e,25-34 years old,NaN,NaN,Pod/capsule machine (e.g. Keurig/Nespresso),NaN,NaN,NaN,Iced coffee,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,W5G8jj,25-34 years old,NaN,NaN,Bean-to-cup machine,NaN,NaN,NaN,Regular drip coffee,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4xWgGr,35-44 years old,NaN,NaN,Coffee brewing machine (e.g. Mr. Coffee),NaN,NaN,NaN,Iced coffee,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,QD27Q8,25-34 years old,NaN,NaN,Pour over,NaN,NaN,NaN,Latte,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Erste Beobachtungen Datensatz

- es gibt 57 Variablen
- der Datensatz hat 4042 Zeilen
- es gibt numerische und kategorische Variablen
- es gibt überall missing values
- für einige Variablen gibt es mehr missing values als existierende values, das sind aber oft "other"-Variablen, die dann vermutlich nicht zutreffend sind
- was ist wfh? -> work from home
- es gibt nicht so viele numerische Variablen

In [5]:
# Variablen genauer untersuchen

for col in df.columns:
    print(f"no. of unique values for {col}:", df[col].nunique())

no. of unique values for submission_id: 4042
no. of unique values for age: 7
no. of unique values for cups: 6
no. of unique values for where_drink: 65
no. of unique values for brew: 449
no. of unique values for brew_other: 160
no. of unique values for purchase: 89
no. of unique values for purchase_other: 26
no. of unique values for favorite: 12
no. of unique values for favorite_specify: 77
no. of unique values for additions: 53
no. of unique values for additions_other: 42
no. of unique values for dairy: 175
no. of unique values for sweetener: 82
no. of unique values for style: 12
no. of unique values for strength: 5
no. of unique values for roast_level: 7
no. of unique values for caffeine: 3
no. of unique values for expertise: 10
no. of unique values for coffee_a_bitterness: 5
no. of unique values for coffee_a_acidity: 5
no. of unique values for coffee_a_personal_preference: 5
no. of unique values for coffee_a_notes: 2317
no. of unique values for coffee_b_bitterness: 5
no. of unique values for coffee_b_acidity: 5
no. of unique values for coffee_b_personal_preference: 5
no. of unique values for coffee_b_notes: 2197
no. of unique values for coffee_c_bitterness: 5
no. of unique values for coffee_c_acidity: 5
no. of unique values for coffee_c_personal_preference: 5
no. of unique values for coffee_c_notes: 2162
no. of unique values for coffee_d_bitterness: 5
no. of unique values for coffee_d_acidity: 5
no. of unique values for coffee_d_personal_preference: 5
no. of unique values for coffee_d_notes: 2354
no. of unique values for prefer_abc: 3
no. of unique values for prefer_ad: 2
no. of unique values for prefer_overall: 4
no. of unique values for wfh: 3
no. of unique values for total_spend: 6
no. of unique values for why_drink: 84
no. of unique values for why_drink_other: 163
no. of unique values for taste: 2
no. of unique values for know_source: 2
no. of unique values for most_paid: 8
no. of unique values for most_willing: 8
no. of unique values for value_cafe: 2
no. of unique values for spent_equipment: 7
no. of unique values for value_equipment: 2
no. of unique values for gender: 5
no. of unique values for gender_specify: 11
no. of unique values for education_level: 6
no. of unique values for ethnicity_race: 6
no. of unique values for ethnicity_race_specify: 82
no. of unique values for employment_status: 6
no. of unique values for number_children: 4
no. of unique values for political_affiliation: 4

In [6]:
# Beispielhaft einzelne Variablen anschauen

print(df["age"].unique())
print(df["cups"].unique())
print(df["where_drink"].value_counts())
print(df["brew"].value_counts())
print(df["coffee_a_acidity"].unique())
print(df["number_children"].unique())

['18-24 years old' '25-34 years old' '35-44 years old' '55-64 years old'
 nan '<18 years old' '>65 years old' '45-54 years old']
[nan 'Less than 1' '2' '1' '3' 'More than 4' '4']
where_drink
At home                                         1625
At home, At a cafe                               416
At home, At the office                           407
At the office, At home                           229
At the office                                    141
                                                ...
At a cafe, On the go, At the office                1
On the go, At a cafe, At the office                1
None of these, At a cafe                           1
On the go, At the office, At home, At a cafe       1
At a cafe, On the go                               1
Name: count, Length: 65, dtype: int64
brew
Pour over                                                                                 575
Pour over, Espresso                                                                       358
Espresso                                                                                  293
Other                                                                                     206
Coffee brewing machine (e.g. Mr. Coffee)                                                  204
                                                                                         ...
Espresso, Pour over, Pod/capsule machine (e.g. Keurig/Nespresso)                            1
Pour over, French press, Espresso, Cold brew, Coffee brewing machine (e.g. Mr. Coffee)      1
Pod/capsule machine (e.g. Keurig/Nespresso), Pour over, Instant coffee, Cold brew           1
Cold brew, Pour over, French press                                                          1
Espresso, Pod/capsule machine (e.g. Keurig/Nespresso), Instant coffee, Other                1
Name: count, Length: 449, dtype: int64
[nan  4.  1.  3.  5.  2.]
[nan 'More than 3' '2' '3' '1']

### Erste Beobachtungen Variablen
- einige Variablen haben eine große Anzahl "unique Values", was darauf hindeuten könnte, dass es keine festen Antwortmöglichkeiten gab, sondern freier Text eingegeben wurde oder mehrere Antwortmöglichkeiten ausgewählt werden konnten
- Level der kategorischen Variablen muss definiert werden
- was tun mit Variablen, bei denen es unterschiedliche Kombinationen von Antwortmöglichkeiten gibt?
    - neue Variable, bei der Antworten und häufige Kombinationen bleiben und seltene Kombinationen zusammengefasst werden unter Bezeichung wie "mehrere/mehr als..."
    - one-hot encoding
- Duplikate scheint es nicht zu geben, da die Anzahl "unique values" bei der Variable "submission_id" der Anzahl Zeilen in den Daten entspricht
- Number of children: es gibt keine Antwort "0" oder "keine" -> war die Umfrage vielleicht schlecht designed, dass es diese Antwortmöglichkeit nicht gab und wir nans jetzt nicht unterscheiden können von "keine Kinder"?

In [7]:
# missing values
print(df.isna().any()) #  tatsächlich für alle Variablen missings
print(df["age"].isna().sum()) # Anzahl missings für einzelne Variable zählen

submission_id                   False
age                              True
cups                             True
where_drink                      True
brew                             True
brew_other                       True
purchase                         True
purchase_other                   True
favorite                         True
favorite_specify                 True
additions                        True
additions_other                  True
dairy                            True
sweetener                        True
style                            True
strength                         True
roast_level                      True
caffeine                         True
expertise                        True
coffee_a_bitterness              True
coffee_a_acidity                 True
coffee_a_personal_preference     True
coffee_a_notes                   True
coffee_b_bitterness              True
coffee_b_acidity                 True
coffee_b_personal_preference     True
coffee_b_notes                   True
coffee_c_bitterness              True
coffee_c_acidity                 True
coffee_c_personal_preference     True
coffee_c_notes                   True
coffee_d_bitterness              True
coffee_d_acidity                 True
coffee_d_personal_preference     True
coffee_d_notes                   True
prefer_abc                       True
prefer_ad                        True
prefer_overall                   True
wfh                              True
total_spend                      True
why_drink                        True
why_drink_other                  True
taste                            True
know_source                      True
most_paid                        True
most_willing                     True
value_cafe                       True
spent_equipment                  True
value_equipment                  True
gender                           True
gender_specify                   True
education_level                  True
ethnicity_race                   True
ethnicity_race_specify           True
employment_status                True
number_children                  True
political_affiliation            True
dtype: bool
31

In [8]:
# descriptives of numeric variables

df.describe()

,expertise,coffee_a_bitterness,coffee_a_acidity,coffee_a_personal_preference,coffee_b_bitterness,coffee_b_acidity,coffee_b_personal_preference,coffee_c_bitterness,coffee_c_acidity,coffee_c_personal_preference,coffee_d_bitterness,coffee_d_acidity,coffee_d_personal_preference
count,3938.000000,3798.000000,3779.000000,3789.000000,3780.000000,3767.000000,3773.000000,3764.000000,3751.000000,3766.000000,3767.000000,3765.000000,3764.000000
mean,5.693499,2.141127,3.634824,3.310900,3.013228,2.223786,3.068646,3.071998,2.366836,3.064790,2.162729,3.858167,3.375930
std,1.948867,0.947163,0.982113,1.185953,0.992875,0.865389,1.113546,0.999267,0.921048,1.128431,1.081546,1.007973,1.452504
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,5.000000,1.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000
50%,6.000000,2.000000,4.000000,3.000000,3.000000,2.000000,3.000000,3.000000,2.000000,3.000000,2.000000,4.000000,4.000000
75%,7.000000,3.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,3.000000,5.000000,5.000000
max,10.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [9]:
# Descriptives of categorical variables

df.describe(include=["object"])

,submission_id,age,cups,where_drink,brew,brew_other,purchase,purchase_other,favorite,favorite_specify,...,spent_equipment,value_equipment,gender,gender_specify,education_level,ethnicity_race,ethnicity_race_specify,employment_status,number_children,political_affiliation
count,4042,4011,3949,3972,3657,678,710,31,3980,114,...,3506,3494,3523,12,3438,3418,105,3419,856,3289
unique,4042,7,6,65,449,160,89,26,12,77,...,7,2,5,11,6,6,82,6,4,4
top,gMR29l,25-34 years old,2,At home,Pour over,Aeropress,Specialty coffee shop,Cometeer,Pourover,Flat White,...,"More than $1,000",Yes,Male,Transgender Female,Bachelor's degree,White/Caucasian,Mixed,Employed full-time,2,Democrat
freq,1,1986,1663,1625,575,335,116,2,1084,9,...,780,3318,2524,2,1759,2626,7,2708,402,1768

## Datensatz aufräumen

### Kategorische Variablen mit Einfachantwort

In [10]:
# converting the variables of dtype "object":
# those with only a small number of different answers (< 13) probably had fixed answer possibilities and are therefore transformed to dtype "category"
# the cut-off at 12 was determined by looking at nunique for all variables above and looking at the unique values for some 
# (only problem might be gender_specify because this seems to be free text but also has 12 unique values)

df_obj = df.select_dtypes(include='object')  # nur object-Spalten

for col in df_obj.columns:
    if (df[col].nunique() < 13) | (col == "submission_id"):
        df[col] = df[col].astype("category")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4042 entries, 0 to 4041
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   submission_id                 4042 non-null   category
 1   age                           4011 non-null   category
 2   cups                          3949 non-null   category
 3   where_drink                   3972 non-null   object
 4   brew                          3657 non-null   object
 5   brew_other                    678 non-null    object
 6   purchase                      710 non-null    object
 7   purchase_other                31 non-null     object
 8   favorite                      3980 non-null   category
 9   favorite_specify              114 non-null    object
 10  additions                     3959 non-null   object
 11  additions_other               48 non-null     object
 12  dairy                         1686 non-null   object
 13  sweetener                     512 non-null    object
 14  style                         3958 non-null   category
 15  strength                      3916 non-null   category
 16  roast_level                   3940 non-null   category
 17  caffeine                      3917 non-null   category
 18  expertise                     3938 non-null   float64
 19  coffee_a_bitterness           3798 non-null   float64
 20  coffee_a_acidity              3779 non-null   float64
 21  coffee_a_personal_preference  3789 non-null   float64
 22  coffee_a_notes                2578 non-null   object
 23  coffee_b_bitterness           3780 non-null   float64
 24  coffee_b_acidity              3767 non-null   float64
 25  coffee_b_personal_preference  3773 non-null   float64
 26  coffee_b_notes                2454 non-null   object
 27  coffee_c_bitterness           3764 non-null   float64
 28  coffee_c_acidity              3751 non-null   float64
 29  coffee_c_personal_preference  3766 non-null   float64
 30  coffee_c_notes                2382 non-null   object
 31  coffee_d_bitterness           3767 non-null   float64
 32  coffee_d_acidity              3765 non-null   float64
 33  coffee_d_personal_preference  3764 non-null   float64
 34  coffee_d_notes                2588 non-null   object
 35  prefer_abc                    3772 non-null   category
 36  prefer_ad                     3761 non-null   category
 37  prefer_overall                3770 non-null   category
 38  wfh                           3524 non-null   category
 39  total_spend                   3511 non-null   category
 40  why_drink                     3568 non-null   object
 41  why_drink_other               167 non-null    object
 42  taste                         3563 non-null   category
 43  know_source                   3559 non-null   category
 44  most_paid                     3527 non-null   category
 45  most_willing                  3510 non-null   category
 46  value_cafe                    3500 non-null   category
 47  spent_equipment               3506 non-null   category
 48  value_equipment               3494 non-null   category
 49  gender                        3523 non-null   category
 50  gender_specify                12 non-null     category
 51  education_level               3438 non-null   category
 52  ethnicity_race                3418 non-null   category
 53  ethnicity_race_specify        105 non-null    object
 54  employment_status             3419 non-null   category
 55  number_children               856 non-null    category
 56  political_affiliation         3289 non-null   category
dtypes: category(27), float64(13), object(17)
memory usage: 1.2+ MB

In [11]:
df.loc[:,"coffee_a_bitterness":"coffee_d_notes"].apply(lambda col: col.unique())
# coffees seem to be rated on Likert scale from 1-5 for bitterness, acidity, and personal preferences. Notes for each seems to contain free text

coffee_a_bitterness                                [nan, 4.0, 1.0, 3.0, 2.0, 5.0]
coffee_a_acidity                                   [nan, 4.0, 1.0, 3.0, 5.0, 2.0]
coffee_a_personal_preference                       [nan, 4.0, 1.0, 3.0, 2.0, 5.0]
coffee_a_notes                  [nan, a, Bitter, soft, This is just an audit t...
coffee_b_bitterness                                [nan, 4.0, 1.0, 3.0, 2.0, 5.0]
coffee_b_acidity                                   [nan, 4.0, 1.0, 3.0, 2.0, 5.0]
coffee_b_personal_preference                       [nan, 4.0, 1.0, 3.0, 5.0, 2.0]
coffee_b_notes                  [nan, b, Hazelnut, bold, I personally did not ...
coffee_c_bitterness                                [nan, 4.0, 1.0, 3.0, 2.0, 5.0]
coffee_c_acidity                                   [nan, 4.0, 1.0, 3.0, 2.0, 5.0]
coffee_c_personal_preference                       [nan, 4.0, 1.0, 3.0, 2.0, 5.0]
coffee_c_notes                  [nan, c, Dark roast, But the form does not ask...
coffee_d_bitterness                                [nan, 4.0, 1.0, 3.0, 5.0, 2.0]
coffee_d_acidity                                   [nan, 4.0, 1.0, 3.0, 2.0, 5.0]
coffee_d_personal_preference                       [nan, 4.0, 1.0, 3.0, 5.0, 2.0]
coffee_d_notes                  [nan, d, Fruity, light, A small mistake to fix...
dtype: object

In [12]:
df["expertise"].unique()
# expertise seems to be rated on a Likert scale from 1-10

array([nan,  7., 10.,  6.,  4.,  9.,  8.,  5.,  2.,  1.,  3.])

In [15]:
# float-Variablen umwandeln in Kategorien (alles Likert-Scales von 1-5 bzw. 1-10)

df_float = df.select_dtypes(include='float64')  # nur float-Spalten

df[df_float.columns] = df[df_float.columns].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4042 entries, 0 to 4041
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   submission_id                 4042 non-null   category
 1   age                           4011 non-null   category
 2   cups                          3949 non-null   category
 3   where_drink                   3972 non-null   object
 4   brew                          3657 non-null   object
 5   brew_other                    678 non-null    object
 6   purchase                      710 non-null    object
 7   purchase_other                31 non-null     object
 8   favorite                      3980 non-null   category
 9   favorite_specify              114 non-null    object
 10  additions                     3959 non-null   object
 11  additions_other               48 non-null     object
 12  dairy                         1686 non-null   object
 13  sweetener                     512 non-null    object
 14  style                         3958 non-null   category
 15  strength                      3916 non-null   category
 16  roast_level                   3940 non-null   category
 17  caffeine                      3917 non-null   category
 18  expertise                     3938 non-null   category
 19  coffee_a_bitterness           3798 non-null   category
 20  coffee_a_acidity              3779 non-null   category
 21  coffee_a_personal_preference  3789 non-null   category
 22  coffee_a_notes                2578 non-null   object
 23  coffee_b_bitterness           3780 non-null   category
 24  coffee_b_acidity              3767 non-null   category
 25  coffee_b_personal_preference  3773 non-null   category
 26  coffee_b_notes                2454 non-null   object
 27  coffee_c_bitterness           3764 non-null   category
 28  coffee_c_acidity              3751 non-null   category
 29  coffee_c_personal_preference  3766 non-null   category
 30  coffee_c_notes                2382 non-null   object
 31  coffee_d_bitterness           3767 non-null   category
 32  coffee_d_acidity              3765 non-null   category
 33  coffee_d_personal_preference  3764 non-null   category
 34  coffee_d_notes                2588 non-null   object
 35  prefer_abc                    3772 non-null   category
 36  prefer_ad                     3761 non-null   category
 37  prefer_overall                3770 non-null   category
 38  wfh                           3524 non-null   category
 39  total_spend                   3511 non-null   category
 40  why_drink                     3568 non-null   object
 41  why_drink_other               167 non-null    object
 42  taste                         3563 non-null   category
 43  know_source                   3559 non-null   category
 44  most_paid                     3527 non-null   category
 45  most_willing                  3510 non-null   category
 46  value_cafe                    3500 non-null   category
 47  spent_equipment               3506 non-null   category
 48  value_equipment               3494 non-null   category
 49  gender                        3523 non-null   category
 50  gender_specify                12 non-null     category
 51  education_level               3438 non-null   category
 52  ethnicity_race                3418 non-null   category
 53  ethnicity_race_specify        105 non-null    object
 54  employment_status             3419 non-null   category
 55  number_children               856 non-null    category
 56  political_affiliation         3289 non-null   category
dtypes: category(40), object(17)
memory usage: 868.3+ KB

### Kategorische Variablen mit Mehrfachantworten

Variablen, bei denen Mehrfachantworten möglich waren: where_drink, brew, purchase, additions, dairy, sweetener, why_drink

In [16]:
# Spalten mit Mehrfachantworten identifizieren

df_obj = df.select_dtypes(include='object')  # nur object-Spalten
cols = df_obj.columns[~df_obj.columns.str.contains('other|notes|specify')] # ohne Freitext Spalten

In [17]:
# Mehrfachantworten: häufige Kombinationen lassen, ansonsten "other" oder "multiple" o.Ä.

def summarize_mehrfachantwort(df, col, top_n):
    '''
    Adds a new variable to the dataframe that contains the most frequent categories of a column
    and replaces other categories with "other".

    df: pandas dataframe to be used
    col: categorical columns in the dataframe to be transformed
    top_n: integer, the top unique categories that should be retained
    '''
    
    top_list = list(df[col].value_counts(ascending = False).index[:top_n])
    df[f"{col}_top{top_n}"] = df[col]
    msk = df[f"{col}_top{top_n}"].isin(top_list)
    df.loc[~msk, f"{col}_top{top_n}"] = "Other"
    df[f"{col}_top{top_n}"] = df[f"{col}_top{top_n}"].astype("category")

    return df
    
for col in cols: 
    summarize_mehrfachantwort(df, col, 6)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4042 entries, 0 to 4041
Data columns (total 64 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   submission_id                 4042 non-null   category
 1   age                           4011 non-null   category
 2   cups                          3949 non-null   category
 3   where_drink                   3972 non-null   object
 4   brew                          3657 non-null   object
 5   brew_other                    678 non-null    object
 6   purchase                      710 non-null    object
 7   purchase_other                31 non-null     object
 8   favorite                      3980 non-null   category
 9   favorite_specify              114 non-null    object
 10  additions                     3959 non-null   object
 11  additions_other               48 non-null     object
 12  dairy                         1686 non-null   object
 13  sweetener                     512 non-null    object
 14  style                         3958 non-null   category
 15  strength                      3916 non-null   category
 16  roast_level                   3940 non-null   category
 17  caffeine                      3917 non-null   category
 18  expertise                     3938 non-null   category
 19  coffee_a_bitterness           3798 non-null   category
 20  coffee_a_acidity              3779 non-null   category
 21  coffee_a_personal_preference  3789 non-null   category
 22  coffee_a_notes                2578 non-null   object
 23  coffee_b_bitterness           3780 non-null   category
 24  coffee_b_acidity              3767 non-null   category
 25  coffee_b_personal_preference  3773 non-null   category
 26  coffee_b_notes                2454 non-null   object
 27  coffee_c_bitterness           3764 non-null   category
 28  coffee_c_acidity              3751 non-null   category
 29  coffee_c_personal_preference  3766 non-null   category
 30  coffee_c_notes                2382 non-null   object
 31  coffee_d_bitterness           3767 non-null   category
 32  coffee_d_acidity              3765 non-null   category
 33  coffee_d_personal_preference  3764 non-null   category
 34  coffee_d_notes                2588 non-null   object
 35  prefer_abc                    3772 non-null   category
 36  prefer_ad                     3761 non-null   category
 37  prefer_overall                3770 non-null   category
 38  wfh                           3524 non-null   category
 39  total_spend                   3511 non-null   category
 40  why_drink                     3568 non-null   object
 41  why_drink_other               167 non-null    object
 42  taste                         3563 non-null   category
 43  know_source                   3559 non-null   category
 44  most_paid                     3527 non-null   category
 45  most_willing                  3510 non-null   category
 46  value_cafe                    3500 non-null   category
 47  spent_equipment               3506 non-null   category
 48  value_equipment               3494 non-null   category
 49  gender                        3523 non-null   category
 50  gender_specify                12 non-null     category
 51  education_level               3438 non-null   category
 52  ethnicity_race                3418 non-null   category
 53  ethnicity_race_specify        105 non-null    object
 54  employment_status             3419 non-null   category
 55  number_children               856 non-null    category
 56  political_affiliation         3289 non-null   category
 57  where_drink_top6              4042 non-null   category
 58  brew_top6                     4042 non-null   category
 59  purchase_top6                 4042 non-null   category
 60  additions_top6                4042 non-null   category
 61  dairy_top6                    4042 non-null   category
 62  sweetener_top6                4042 non-null   category
 63  why_drink_top6                4042 non-null   category
dtypes: category(47), object(17)
memory usage: 898.2+ KB

### Kategorien ordnen

In [18]:
# Define the desired order of categories
age_order = ['<18 years old', '18-24 years old', '25-34 years old', '35-44 years old', '45-54 years old', '55-64 years old', '>65 years old']
cups_order = ['Less than 1', '1', '2', '3', '4', 'More than 4']
strength_order = ['Weak', 'Somewhat light', 'Medium', 'Somewhat strong', 'Very strong']
spend_order = ['<$20', '$20-$40', '$40-$60', '$60-$80', '$80-$100', '>$100']
paid_order = ['Less than $2', '$2-$4', '$4-$6', '$6-$8', '$8-$10', '$10-$15', '$15-$20', 'More than $20'] # same for most_paid and most_willing
equipment_order = ['Less than $20', '$20-$50', '$50-$100', '$100-$300', '$300-$500', '$500-$1000', 'More than $1,000']
education_order = ['Less than high school', 'High school graduate', "Some college or associate's degree", "Bachelor's degree", "Master's degree", 'Doctorate or professional degree']

#roast_level? caffeine?

# Apply the category order
df["age"] = df["age"].cat.set_categories(age_order, ordered=True)
df["cups"] = df["cups"].cat.set_categories(cups_order, ordered=True)
df["strength"] = df["strength"].cat.set_categories(strength_order, ordered=True)
df["total_spend"] = df["total_spend"].cat.set_categories(spend_order, ordered=True)
df["most_paid"] = df["most_paid"].cat.set_categories(paid_order, ordered=True)
df["most_willing"] = df["most_willing"].cat.set_categories(paid_order, ordered=True)
df["spent_equipment"] = df["spent_equipment"].cat.set_categories(equipment_order, ordered=True)
df["education_level"] = df["education_level"].cat.set_categories(education_order, ordered=True)

## One-hot encoding

In [19]:
def bool_mehrfachantworten(df, col, seperator):

    # Schritt 1: dummy-encoding
    dummies = df[col].str.get_dummies(sep = seperator)

    # Variablen umbenennen
    dummies = dummies.add_prefix(f"{col} ")

    # Aus 0/1 True/False machen
    dummies = dummies.astype(bool)

    # Schritt 2: mit ursprünglichem Dataframe zusammenführen
    df = pd.concat([df, dummies], axis=1)

    return df

In [20]:
one_hot_cols = ["where_drink", "brew", "additions", "dairy", "sweetener", "why_drink"]

for col in one_hot_cols:
    df = bool_mehrfachantworten(df, col, ", ")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4042 entries, 0 to 4041
Columns: 110 entries, submission_id to why_drink Other
dtypes: bool(46), category(47), object(17)
memory usage: 1.1+ MB

## Save prepared data

In [21]:
df.to_pickle('coffee_data.pkl')